body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px; /* 패딩을 키워서 전체 크기를 크게 설정 */
    border-radius: 10px;
    text-align: center;
    overflow-y: auto; /* 컨테이너에 스크롤 추가 */
}

.logo {
    width: 70%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; /* search-container의 너비를 100%로 설정 */
}

#searchInput {
    width: 90%; /* 검색창의 너비를 더 크게 설정 */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    cursor: pointer;
}

#dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.image-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.no-data {
    text-align: center;
    font-size: 18px;
    color: red;
}

.uniprot-data {
    margin-top: 20px; /* 여백 추가 */
    font-size: 1.25em; /* 글꼴 크기 1.25배로 키움 */
    color: #333;
}

.table-container {
    max-height: 200px; /* 높이를 지정 */
    overflow-y: auto; /* 세로 스크롤 추가 */
    margin-top: 10px; /* 여백 추가 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
