body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    overflow-y: auto;
}

#initialContainer {
    width: 80%;
    max-width: 800px;
}

.result-container {
    width: 100%;
    max-width: 1600px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.left-panel, .right-panel {
    width: 50%;
    padding: 20px;
}

.logo {
    width: 70%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

#searchInput, #resultSearchInput {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#searchButton, #resultSearchButton {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    cursor: pointer;
}

#dropdown, #resultDropdown {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.image-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.no-data {
    text-align: center;
    font-size: 18px;
    color: red;
}

.uniprot-data, .forweb-data {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}

.table-container {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.uniprot-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.forweb-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed; /* 고정된 테이블 레이아웃 */
    word-wrap: break-word; /* 단어가 길 경우 줄바꿈 */
}

.forweb-data .table-container {
    max-height: 700px; /* 원하는 최대 높이로 설정 */
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
